<!--导航栏信息-->
<div class="ui fixed inverted menu">
    <div class="ui container">
      	<a href="#" class="header item">
        	<img class="logo" src="/img/logo.png">
        	<span class="nav-name">课间</span>
     	</a>
      	<a href="#" class="item">首页</a>
      	<div class="ui simple dropdown item">
        菜单 <i class="dropdown icon"></i>
	        <div class="menu">
	          	<a class="item" href="#">个人主页</a>
	          	<div class="divider"></div>
	          	<a class="item" href="#">登出</a>	      		
      		</div>
    	</div>
    </div>
</div>