<% if (success) { %>
    <div class="ui success message <%= path %>">
      <p><%= success %></p>
    </div>
  <% } %>

  <% if (error) { %>
    <div class="ui error message <%= path %>"">
      <p><%= error %></p>
    </div>
<% } %>
