<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./necessary/head.ejs") %>
    <title>学生管理系统</title>

  </head>

  <body>
  <%- include("./necessary/navigation.ejs") %>

  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input type="text" class = "form-control" placehoder ="Username">
  </div>

  <div class = "input-group">

    <input type = "text" class = "form-control" placeholder="Class Number">
      <span class = "input-group-addon">班 </span>
  </div>

  <div class = "input-group">
    <span class = "input-group-addon"> Sex </span>
    <input type = "text" class = "form-control" >
  </div>






  <footer>
    <p>&copy; Company 2016 Powered by Caren</p>
  </footer>
  <%- include("./necessary/bootstrapJS.ejs") %>
  </body>

</html>
