<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="utf-8">
    	<title><%= msgboard.title %> - ERROR </title>
    	<link rel="stylesheet" href="/css/style.css">
  	</head>
	<div class='error'>
		<h2><%= error.message %></h2>
    	<pre><%= error.stack %></pre>
	</div>	
</body>
</html>